# Environment
NODE_ENV=development
NEST_DEBUG=false
DEBUG=false

SERVER_NAME=
SERVER_SCHEMA=http
SERVER_HOST="localhost"
SERVER_PORT=3000
SERVER_DEBUG_PORT=9229
SERVER_WEB_SOCKER_PORT=3002
SERVER_TZ=America/Los_Angeles

# Postgre database configuration
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=core_nestjs
DB_USER=postgres
DB_PASS=

# Redis configuration
REDIS_URL=redis://redis:6379
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Mail dialect configuration [smtp,sendgrid]
MAIL_DIALECT=sendinblue
SENDGRID_API_KEY=

# Mail configruration
MAIL_HOST=0.0.0.0
MAIL_PORT=1025
MAIL_USER=null
MAIL_PASS=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="no-reply@goodaction.com"
MAIL_FROM_NAME=

# JWT configuration
JWT_SECRET=
JWT_DURATION=1200

# Twilio
TWILIO_ENABLED=true
TWILIO_FROM=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# stripe configuration
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_API_VERSION=

# AWS S3 Bucket Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_BUCKET_URL=

# Swagger
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/swagger
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=hearty

# Google key
GOOGLE_KEY=

# Push notification configruation
FCM_KEY=# Environment
